

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
}

body{
    max-width: 900px;
    margin: auto;
    margin-top: 3%;
}

main{
    background-color: gray;
    padding: 3%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

section{
    max-width: 100%;
    padding: 3%;
    margin: auto;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 5%;
}

.horizontal{
    display: grid;
    grid-template-rows: auto auto;
}

.elemento1, .elemento2{
    grid-column: 1 / -1;
    padding: 0;
}


.item{
    min-height: 150px;
    row-gap: 0;
     
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

video{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.descripcion{
    color: rgb(5, 5, 106);
    /*border: solid 1px;*/
} 

.parrafos{
    background-color: aliceblue;
    font-size: 1.5em;
    padding: 5%;
    border-radius: 10px;
    font-family: Abel;
}

h1, h2, h3{ 
    max-width: 60%;
    margin: auto;
    text-align: center;
    padding: 2%;
    margin-bottom: 10px;
    font-family:'Goudy Bookletter 1911';
}
h2{
    margin-top: 10px;
}

@media (max-width: 768px){
    main{
        background-color: white;
    }
    body{
        background-color: white;
    }
    section{
        background-color: white;
    }
}


